*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face{
    font-family: Louis;
    src: url(/assets/fonts/Louis-George-Cafe.ttf)
}
@font-face{
    font-family: Louis b;
    src: url(/assets/fonts/Louis-George-Cafe-Bold.ttf)
}
/*terminan las fuenter*/

header{
    display: flex;
    padding: 0%;
    justify-content: space-between;
    align-items: center;
    background-color: #000A15;
}

.logo{
    text-align: left;
    color: white;
}

.navbarOne{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.25rem;
    list-style: none;
    padding-right: 1.25rem;
    font-family: Louis ;
    background-color: #000A15;
}

.navbarOne ul li a{
    text-decoration: none;
    color: white;
    font-size: 1.25rem;
    font-family: Louis ;
    background-color: #000A15;
}
/*termina nav bar*/

header a{
    text-align: left;
    text-decoration: none;
    color: white;
    font-size: 1.25rem;
    font-family: Louis ;
}

header div a img{
    width: 3.125rem;
    height: 3.125rem;
}
/*termina header*/

.sectionOne{
    width: 100%;
    height: 300px;
    display: grid;
    padding: 20px;
    padding-left: 40px;
    background-color: #000A15;
    background-size: contain;
}

.container{
    width: 100%;
    display: flex;
    padding: auto;
    margin: 40px;
    background-color: #000A15;
}

.sectionOne h1{
    padding-top: 20px;
    margin-left: 250px;
    font-family: Louis B ;
    font-size: 2.5rem;
    color: white;
}

.sectionOne p{
    padding-top: 5px;
    margin-left: 250px;
    font-family: Louis ;
    font-size: 1.125rem;
    color: white;
}

.sectionOne img{
    width: 70%;
    height: 350px;
    margin-left: 20px;
}

.btn{
    width: 150px;
    height: 10px;
    padding: 20px;
    margin-left: 250px;
    background-color: #1dcaff;
    /*ver centrado text*/
}

.btn:active{
    color: #1989AC;
}

/*termina sectionOne + button*/

.sectionTwo{
    width: 100%;
    height: 34.375rem;
    padding: 20px;
    padding-top: 6.25rem;
    background-size: contain;
    background-color: #000A15;
}


.sectionTwo h2{
    font-family: Louis B ;
    font-size: 2.0rem;
    color: white;
    margin-left: 170px;
}

.sectionTwo img{
    width: 21.875rem;
    height: 21.875rem;
    margin: 1.25rem;
}
/*imagenes centradas*/

.sectionTwo p{
    font-family: Louis ;
    font-size: 1.25rem;
    text-align: right;
    color: white;
}

footer{
    background-color: #000A15;
    height: 300px;
}

footer p{
    color: white;
    font-family: Louis B;
    font-size: xx-large;
    text-decoration: none;
    margin-left: 290px;
}

/*aca arranca tengo casita-sign up*/

.fondo{
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: repeat;
    background-image: url("../assets/img/fondo1.jpg");
    background-size: 70%;
    padding-left: 150px;
}

.fondoDois{
    width: 74.375rem;
    height: 500px;
    margin-left: 20px;
}

.sectionTengoup h1{
    padding-top: 20px;
    padding-left: 20px;
    font-size: xx-large;
    font-family: Louis B;
    color: #1989AC;
}

.sectionSimple{
    width: 87%;
    height: 90%;
    background-position: center;
    background-color: #000A15;
    margin: 1.25rem;
}

.containerDos{
    width: 87%;
    display: flex;
    padding: 20px;
    margin-top: .625rem;
    align-items: center;
}

.sectionSimple h2{
    font-size: xx-large;
    font-family: Louis B;
    color: white;
}

.sectionSimple p{
    padding: 10px;
    font-family: Louis;
    text-align: left;
    font-size: 1.125rem;
    color: white;
}

.sectionSimple img{
    width: 19%;
    height: 19%;
}

footer{
    background-color: #000A15;
    height: 150px;
}

/*aca arranca busco una casita up*/

.sectionBuscoup{
    width: 100%;
    height: 31.25rem;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../assets/img/fondo\ 2.jpg");
    background-size: 75%;
}

.sectionBuscoup h1{
    text-align: left;
    font-size: xx-large;
    font-family: Louis B;
    color: #1989AC;
}

.sectionSimpleB{
    width: 80%;
    height: 18.75rem;
    background-color: #000A15;
    margin: 1.25rem;
}

.sectionSimpleB h2{
    text-align: left;
    font-size: xx-large;
    font-family: Louis B;
    color: white;
}

.sectionSimpleB p{
    text-align: center;
    font-size: 1.25rem;
    color: white;
    font-family: Louis;
}

.sectionSimpleB img{
    width: 9.375rem;
    height: 9.375rem;
}

/*aca empieza contato*/

.sectionContacto{
    width: 100%;
    height: 25rem;
}

.sectionContacto h2{
    text-align: left;
    font-size: xx-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

.sectionContacto p{
    text-align: left;
    font-size: 1.25rem;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

