@charset "UTF-8";
/*
$medidas:(
    sm: ,
    m:  ,
    lg: ,
)
*/
/*partials: pequeños scss que guarda un fragmento
especifico*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Louis;
  src: url(/assets/fonts/Louis-George-Cafe.ttf);
}
@font-face {
  font-family: Louis b;
  src: url(/assets/fonts/Louis-George-Cafe-Bold.ttf);
}
header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  background-color: #000A15;
  width: 100%;
  height: auto;
}
header a {
  text-align: left;
  text-decoration: none;
  color: white;
  font-size: 1.25rem;
  font-family: Louis;
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  background-color: #000A15;
  color: white;
}
main .sectionOne {
  width: 100%;
  height: 300px;
  display: grid;
  padding: 20px;
  padding-left: 40px;
}
main .sectionOne h1 {
  padding-top: 20px;
  margin-left: 250px;
  font-family: Louis B;
  font-size: 2.5rem;
  color: white;
}
main .sectionOne p {
  padding-top: 5px;
  margin-left: 250px;
  font-family: Louis;
  font-size: 1.125rem;
  color: white;
}
main .sectionOne img {
  width: 70%;
  height: 350px;
  margin-left: 20px;
}
main .sectionOne .botonUno {
  margin-left: 250px;
}
main .sectionOne .botonUno:active {
  color: #1989AC;
}
main .sectionTwo {
  width: 100%;
  padding: 20px;
  padding-top: 12.5rem;
  background-size: contain;
}
main .sectionTwo h2 {
  font-family: Louis B;
  font-size: 2rem;
  margin-left: 75px;
}
main .sectionTwo .galeriaIndex {
  width: 100%;
  height: 500px;
  padding-left: 160px;
}
main .sectionTwo .galeriaIndex img {
  width: 21.875rem;
  height: 21.875rem;
  margin: 1.25rem;
}
main .sectionTwo .galeriaIndex img:hover {
  filter: blur(3px);
}

.fondo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  width: 100%;
  height: 100%;
  background-position: top;
  background-repeat: no-repeat;
  background-image: url("../assets/img/campo-4.jpg");
  background-size: 100%;
}

.sectionTengoup {
  width: 74.375rem;
  height: 450px;
  margin-left: 20px;
  margin-top: 2.5rem;
  background-image: url("../assets/img/campo-8.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
.sectionTengoup .formuUno {
  width: 420px;
  margin-left: 100px;
  backdrop-filter: blur(5px);
}
.sectionTengoup .formuUno h1 {
  padding-top: 40px;
  margin-bottom: 80px;
  font-size: xx-large;
  font-family: Louis B;
  color: white;
}

.sectionSimple {
  width: 1190px;
  height: 450px;
  background-color: #000A15;
  margin: 1.25rem;
  margin-left: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
}
.sectionSimple h2 {
  font-size: xx-large;
  font-family: Louis B;
  color: white;
}
.sectionSimple p {
  padding: 10px;
  font-family: Louis;
  text-align: left;
  font-size: 1.125rem;
  color: white;
}
.sectionSimple img {
  width: 19%;
  height: 19%;
  padding: 10px;
}

.fondoM {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  width: 100%;
  height: 100%;
  background-position: top;
  background-repeat: no-repeat;
  background-image: url("../assets/img/fondo2.jpg");
  background-size: 100%;
}

.sectionBuscoup {
  width: 74.375rem;
  height: 450px;
  margin-left: 20px;
  margin-top: 2.5rem;
  background-image: url("../assets/img/campo-7.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
.sectionBuscoup .formuUno {
  width: 420px;
  margin-left: 100px;
  backdrop-filter: blur 5px;
}
.sectionBuscoup .formuUno h1 {
  padding-top: 40px;
  margin-bottom: 80px;
  font-size: xx-large;
  font-family: Louis B;
  color: white;
}

.sectionSimple {
  width: 1190px;
  height: 450px;
  background-color: #000A15;
  margin: 1.25rem;
  margin-left: 40px;
}
.sectionSimple h2 {
  font-size: xx-large;
  font-family: Louis B;
  color: white;
}
.sectionSimple p {
  padding: 10px;
  font-family: Louis;
  text-align: left;
  font-size: 1.125rem;
  color: white;
}
.sectionSimple img {
  width: 19%;
  height: 19%;
  padding: 10px;
}

.containerDos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  width: 87%;
  padding: 20px;
  margin-top: 0.625rem;
}

.buscador {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  width: 100%;
  height: 639px;
  background-image: url("../assets/img/campo-5.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.buscador h2 {
  text-align: left;
  font-size: xx-large;
  font-family: Louis B;
  color: #1989AC;
  padding-right: 400px;
  margin-top: -18.75rem;
}
.buscador .search-bar {
  width: 100%;
  max-width: 700px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  border-radius: 60px;
  padding: 10px 20px;
  padding-right: 30px;
  backdrop-filter: blur(2px);
}
.buscador .search-bar input {
  background: transparent;
  border: 0;
  outline: none;
  padding: 24px 20px;
  font-size: 20px;
}

.navbarOne {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
  gap: 1.25rem;
  width: 100%;
  height: min-content;
  list-style: none;
  padding-right: 1.25rem;
  font-family: Louis;
  background-color: #000A15;
}
.navbarOne li a {
  background-color: #000A15;
  text-decoration: none;
  color: white;
  font-size: 1.25rem;
  font-family: Louis;
}
.navbarOne li a:hover {
  text-decoration: underline;
}
.navbarOne img {
  width: 2.5rem;
  height: 2.5rem;
}

/* de desktop a mobile orden decreciente*/
@media (max-width: 1024px) {
  .buscador {
    width: 100%;
    height: 100%;
    background-size: cover;
  }
  .buscadorSec {
    width: 100%;
    height: 900px;
  }
  .buscador h2 {
    padding-left: 150px;
  }
  .sectionLupa {
    height: 75%;
    margin-left: 250px;
  }
}
@media (max-width: 768px) {
  .buscador {
    width: 100%;
    height: 900px;
    background-size: cover;
  }
  .buscadorSec {
    width: 100%;
    height: 700px;
    margin-top: 100px;
  }
  .buscador h2 {
    padding-left: 40px;
  }
}
@media (max-width: 425px) {
  .buscador {
    width: 100%;
    height: 100%;
    background-size: cover;
  }
  .buscadorSec {
    width: 100%;
    height: 400px;
  }
  .buscador h2 {
    margin-top: 0%;
    margin-left: 0%;
  }
  .sectionLupa {
    height: 30%;
    margin-left: 50px;
  }
}

/*# sourceMappingURL=style.css.map */
