*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face{
    font-family: Louis;
    src: url(/assets/fonts/Louis-George-Cafe.ttf)
}
@font-face{
    font-family: Louis b;
    src: url(/assets/fonts/Louis-George-Cafe-Bold.ttf)
}
/*terminan las fuenter*/

header{
    display: flex;
    padding: 0%;
    justify-content: space-between;
    align-items: center;
    background-color: #000A15;
}

.logo{
    text-align: left;
    color: white;
}

.navbarOne{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
    list-style: none;
    padding-right: 1.25rem;
    font-family: Louis ;
    background-color: #000A15;
}

.navbarOne ul li a{
    text-decoration: none;
    color: white;
    font-size: 1.25rem;
    font-family: Louis ;
    background-color: #000A15;
}
/*termina nav bar*/

header a{
    text-align: left;
    text-decoration: none;
    color: white;
    font-size: 1.25rem;
    font-family: Louis ;
}

header div a img{
    width: 3.125rem;
    height: 3.125rem;
}
/*termina header*/

.sectionOne{
    width: 100%;
    height: 300px;
    display: grid;
    padding: 20px;
    padding-left: 40px;
    background-color: #000A15;
    background-size: contain;
}

.container{
    width: 100%;
    height: auto;
    display: flex;
    padding: auto;
    margin: 40px;
    background-color: #000A15;
}

.sectionOne h1{
    padding-top: 20px;
    margin-left: 250px;
    font-family: Louis B ;
    font-size: 2.5rem;
    color: white;
}

.sectionOne p{
    padding-top: 5px;
    margin-left: 250px;
    font-family: Louis ;
    font-size: 1.125rem;
    color: white;
}

.sectionOne img{
    width: 70%;
    height: 350px;
    margin-left: 20px;
}


.botonUno{
    width: 150px;
    height: 10px;
    padding: 20px;
    justify-content: center;
    background-color: #1dcaff;
    margin-left: 250px;
    /*ver centrado text*/
}

.botonUno:active{
    color: #1989AC;
}

.sectionTwo{
    width: 100%;
    padding: 20px;
    padding-top: 12.5rem;
    background-size: contain;
    background-color: #000A15;
}

.sectionTwo h2{
    font-family: Louis B ;
    font-size: 2.0rem;
    color: white;
    margin-left: 75px;
}

.galeriaIndex{
    width: 100%;
    height: 500px;
    padding-left: 160px;
}

.sectionTwo img{
    width: 21.875rem;
    height: 21.875rem;
    margin: 1.25rem;
}
/*imagenes centradas*/

.sectionTwo p{
    font-family: Louis ;
    font-size: 1.25rem;
    text-align: right;
    color: white;
}

footer{
    background-color: #000A15;
    height: 300px;
}

footer p{
    color: white;
    font-family: Louis B;
    font-size: xx-large;
    text-decoration: none;
    margin-left: 290px;
}

/*aca arranca tengo casita-sign up*/

.fondo{
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: repeat-y;
    background-image: url("../assets/img/campo-4.jpg");
    background-size: 100%;
    padding-left: 150px;
}

.sectionTengoup img{
    width: 74.375rem;
    height: 450px;
    margin-left: 20px;
}

.sectionTengoup h1{
    padding-top: 20px;
    padding-left: 20px;
    font-size: xx-large;
    font-family: Louis B;
    color: #1989AC;
}

.sectionSimple{
    width: 87%;
    height: 90%;
    background-position: center;
    background-color: #000A15;
    margin: 1.25rem;
}

.containerDos{
    width: 87%;
    display: flex;
    padding: 20px;
    margin-top: .625rem;
    align-items: center;
}

.sectionSimple h2{
    font-size: xx-large;
    font-family: Louis B;
    color: white;
}

.sectionSimple p{
    padding: 10px;
    font-family: Louis;
    text-align: left;
    font-size: 1.125rem;
    color: white;
}

.sectionSimple img{
    width: 19%;
    height: 19%;
    padding: 10px;
}

footer{
    background-color: #000A15;
    height: 150px;
}

/*aca arranca busco una casita up*/

.fondoM{
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: repeat;
    background-image: url("../assets/img/la-paloma.jpg");
    background-size: 100%;
    padding-left: 150px;
}

.sectionBuscoup img{ 
    width: 74.375rem;
    height: 500px;
    margin-left: 20px;
}

.sectionBuscoup h1{
    text-align: left;
    font-size: xx-large;
    font-family: Louis B;
    color: #1989AC;
}

.sectionSimpleB{
    width: 80%;
    height: 18.75rem;
    background-color: #000A15;
    margin: 1.25rem;
}

.sectionSimpleB h2{
    text-align: left;
    font-size: xx-large;
    font-family: Louis B;
    color: white;
}

.sectionSimpleB p{
    text-align: center;
    font-size: 1.25rem;
    color: white;
    font-family: Louis;
}

.sectionSimpleB img{
    width: 9.375rem;
    height: 9.375rem;
}

/*aca arranca buscador*/

.buscador{
    width: 100%;
    height: 100%;
    display: flex;
    background-image: url("../assets/img/campo-5.jpg");
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
}

.buscadorSec{
    width: 100%;
    height: 900px;
    background-position: center;
    display: flex;
    background-repeat: no-repeat;
}

.buscador h2{
    text-align: left;
    font-size: xx-large;
    font-family: Louis B;
    color: #1989AC;
    padding-left: 250px;
    margin-top: 40px;
}

.sectionLupa{
    width: 40%;
    height: 80%;
    margin-top: 40px;
    background-color: #000A15;
    margin-left: 400px;
}

@media(max-width:1024px){
    .buscador{
        width: 100%;
        height: 100%;
        background-size: cover;
    }

    .buscadorSec{
        width: 100%;
        height: 900px;
    }

    .buscador h2{
        padding-left: 150px;
    }

    .sectionLupa{
        height: 75%;
        margin-left: 250px;
    }
}

@media(max-width:768px){
    .buscador{
        width: 100%;
        height: 900px;
        background-size: cover;
    }

    .buscadorSec{
        width: 100%;
        height: 700px;
        margin-top: 100px;
    }

    .buscador h2{
        padding-left: 40px;
    }
}

@media(max-width:425px){
    .buscador{
        width: 100%;
        height: 100%;
        background-size: cover;
    }

    .buscadorSec{
        width: 100%;
        height: 400px;
    }

    .buscador h2{
        margin-top: 0%;
        margin-left: 0%;
    }

    .sectionLupa{
        height: 30%;
        margin-left: 50px;
    }
}


/*aca empieza contato*/

.mainJ{
    width: 100%;
    height: 800px;
    background-position: center;
    display: flex;
    background-image: url("../assets/img/fondopocitos.jpg");
    background-repeat: no-repeat;
}

.sectionContacto{
    width: 40%;
    height: 700px;
    background-color: #000A15;
}

.sectionContacto h2{
    padding-top: 20px;
    text-align: left;
    font-size: xx-large;
    font-family: Louis B;
    color: white;
}

.sectionContacto p{
    text-align: left;
    font-size: 1.25rem;
    font-family: Louis;
    color: white;
}

