.mainJ{
    max-width: 1440px;
    min-height: 900px;
    @include flex (row,wrap,left,center,1.25rem);
    background-position: center;
    background-image: url("../assets/img/pocitos.jpg");
    background-repeat: no-repeat;
    .sectionContacto{
        max-width: 40%;
        min-height: 700px;
        background-color: $color-fondo;
        h2{
            padding-top: 20px;
            text-align: left;
            font-size: xx-large;
            font-family: $titulo;
            color: map-get($colorM, color1);
        }
        p{
            text-align: left;
            font-size: 1.25rem;
            font-family: $parrafo;
            color: map-get($colorM, color1);
        }
    }
}