.fondoM{
    @include flex (row,wrap,center,center,1.25rem);
    max-width: 1440px;
    min-height: 900px;
    background-position: top;
    background-repeat: repeat;
    background-image: url("../assets/img/fondo2.jpg");
    background-size: 100%;
    }
    .sectionBuscoup{
        max-width: 74.375rem;
        min-height: 450px;
        margin-left: 40px;
        margin-top: 2.5rem;
        background-image: url("../assets/img/campo-7.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        .formuUno{
            max-width: 420px;
            margin-left: 100px;
            backdrop-filter: blur (5px);
            h1{
                padding-top: 40px;
                margin-bottom: 80px;
                font-size: xx-large;
                font-family: $titulo;
                color: map-get($colorM, color1 );
            }
        }
    }

    .sectionSimple{
        max-width: 1190px;
        min-height: 450px;
        background-position: center;
        background-color: $color-fondo;
        margin-left: 40px;
        @include flex (row,wrap,center,center,1.25rem);
            h2{
                margin-left: 30px;
                margin-top: 40px;
                text-align: left;
                font-size: xx-large;
                font-family: $titulo;
                color: map-get($colorM , color1 );
            }
            p{
                padding: 10px;
                margin-left: 40px;
                font-family: $parrafo;
                text-align: left;
                font-size: 1.125rem;
                color: map-get($colorM , color1 );
            }
            img{
                margin-left: 40px;
                max-width: 16%;
                min-height: 16%;
                padding: 10px;
            }
        }
