main{
    @include flex (row,wrap,center,center,1.25rem);
    background-color: $color-fondo;
    color: map-get($colorM, color1 );
        .sectionOne{
            max-width: 1440px;
            min-height: fit-content;
            display: grid;
            padding: 20px;
            padding-left: 40px;
                h1{
                    padding-top: 20px;
                    margin-left: 50px;
                    font-family: $titulo;
                    font-size: 2.5rem;
                    color: map-get($colorM , color1 );
                }
                p{
                    padding-top: 5px;
                    margin-left: 50px;
                    font-family: $parrafo ;
                    font-size: 1.125rem;
                    color: map-get($colorM , color1 );
                }
                img{
                    max-width: 600px;
                    min-height: 350px;
                    margin-left: 20px;
                    }
                    .botonUno{
                        margin-left: 50px;
                        &:active{
                            color: #1989AC;
                        }
                        a{
                        color: map-get($colorM, color1 );
                        font-family: $parrafo;
                        text-decoration: none;
                        }
                    }
        }

        .sectionTwo{
            max-width: 1440px;
            padding: 20px;
            background-size: contain;
            h2{
                font-family: $titulo;
                font-size: 2.0rem;
                margin-left: 20px;
                    }
                    .galeriaIndex{
                        max-width: 1440px;
                        min-height: 500px;
                        padding-left: 50px;
                        img{
                            max-width: 21.875rem;
                            min-height: 21.875rem;
                            margin: 1.25rem;
                            &:hover{
                                filter: blur(3px);
                            }
                        }
                    }
        }
}