.buscador{
    @include flex (row,wrap,center,center,1.25rem);
    max-width: 1440px;
    min-height: 900px;
    background-image: url("../assets/img/campo-5.jpg");
    background-position: center;
    background-repeat: no-repeat;
        h2{
            text-align: left;
            font-size: xx-large;
            font-family: $titulo;
            color: $color-letras;
            margin-top: -20px;
        }
        .search-bar{
            max-width: 700px;
            @include flex (row,wrap,center,center,1.25rem);
            border-radius: 60px;
            padding: 10px 20px;
            padding-right: 30px;
            backdrop-filter: blur(2px);
            input{
                background: transparent;
                border: 0;
                outline: none;
                padding: 24px 20px;
                font-size: 20px;
            }
        }
    }

