/* de desktop a mobile orden decreciente*/
@media(max-width:1440px),(min-height:505px){
    .buscador{
        max-width: 100%;
        min-height: 100%;
        background-size: cover;
    }

    .buscadorSec{
        max-width: 100%;
        min-height: 900px;
    }

    .buscador h2{
        padding-left: 150px;
        padding-top: 150px;
    }

    .sectionLupa{
        min-height: 75%;
        margin-left: 250px;
    }
}

@media(max-width:768px),(min-height:1024px){
    .buscador{
        width: 100%;
    }

    .buscadorSec{
        width: 100%;
        height: 700px;
        margin-top: 100px;
    }

    .buscador h2{
        padding-left: 40px;
    }
}

@media(max-width:425px){
    .buscador{
        width: 100%;
        height: 100%;
        background-size: cover;
    }

    .buscadorSec{
        width: 100%;
        height: 400px;
    }

    .buscador h2{
        margin-top: 0%;
        margin-left: 0%;
    }

    .sectionLupa{
        height: 30%;
        margin-left: 50px;
    }
}
